.idea/
.vscode/
*.iml
.env
.DS_Store
venv/
.pytest_cache/
**__pycache__/
db.sqlite3
.venv
static/
taxi/__init__.py
taxi/admin.py
taxi/apps.py
taxi/tests.py
taxi_service/__init__.py
taxi_service/asgi.py
taxi_service/urls.py
taxi_service/wsgi.py
templates/includes/
templates/registration/
templates/base.html
templates/taxi/driver_detail.html
templates/taxi/driver_list.html
templates/taxi/index.html