asgiref==3.8.1
crispy-bootstrap4==2024.10
crispy-bootstrap5==2025.4
Django==5.2.1
django-crispy-forms==2.4
django-debug-toolbar==3.2.4
flake8==5.0.4
flake8-quotes==3.3.1
flake8-variables-names==0.0.5
mccabe==0.7.0
pep8-naming==0.13.2
pip==25.1.1
pycodestyle==2.9.1
pyflakes==2.5.0
sqlparse==0.5.3
tzdata==2025.2
