{% extends "base.html" %}

{% block content %}
  <h6><strong>Car:</strong> {{ car.model }}</h6>
  <hr>
  <h6><strong>Manufacturer:</strong> ({{ car.manufacturer.name }}, {{ car.manufacturer.country }})</h6>
  <hr>
  <h6><strong>Drivers:</strong></h6>
  <ul>
  {% for driver in car.drivers.all %}
    <li>{{ driver.username }} ({{ driver.first_name }} {{ driver.last_name }})</li>
  {% endfor %}
  </ul>
  <hr>
  <a href="{% url "taxi:car-update" pk=car.pk %}"><button class="btn btn-primary">Update</button></a>
  <a href="{% url "taxi:car-delete" pk=car.pk %}"><button class="btn btn-danger">Delete</button></a>
{% endblock %}
