{% extends "base.html" %}

{% block content %}
  <h1>Car list</h1>
    <form>
        <input type="button" onclick="location.href='{% url "taxi:car-create" %}'" value="Create new car" class="btn btn-primary">
    </form>
  {% if car_list %}
    <ul>
      {% for car in car_list %}
        <li>
          <a href="{% url "taxi:car-detail" pk=car.id %} ">{{ car.id }}</a>
          {{ car.model }} ({{ car.manufacturer.name }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no cars in taxi</p>
  {% endif %}
{% endblock %}
