{% extends "base.html" %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  <h1>Car list <a href="{% url 'taxi:car-create' %}" class="float">+</a>
  </h1>
  {% if car_list %}
    <ul>
      {% for car in car_list %}
        <li>
          <a href="{% url "taxi:car-detail" pk=car.id %} ">{{ car.id }}</a>
          {{ car.model }} ({{ car.manufacturer.name }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no cars in taxi</p>
  {% endif %}
{% endblock %}
