{% extends "base.html" %}

{% block content %}
  <h1>Model: {{ car.model }}</h1>
  <p><strong>Manufacturer:</strong> ({{ car.manufacturer.name }}, {{ car.manufacturer.country }})</p>
  <p>
    <a href="{% url 'taxi:car-update' pk=car.id %}">UPDATE</a>
    <a href="{% url 'taxi:car-delete' pk=car.id %}">DELETE</a>
  </p>
  <div class="md-3">
    <h4>Drivers</h4>
      {% for driver in car.drivers.all %}
        <hr>
        <p><strong>id:</strong> {{ driver.id }}</p>
        <p><strong>Username:</strong> {{ driver.username }}</p>
        <p><strong>License <number></number>:</strong> {{ driver.license_number }}</p>
      {% empty %}
        <p>No drivers!</p>
      {% endfor %}
  </div>
{% endblock %}
