{% extends "base.html" %}
{% block content %}
<div class="card">
    <div class="card-header bg-primary text-white">
        <h3 class="mb-0">Car Details</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h5>Model: {{ car.model }}</h5>
                <p class="lead">Manufacturer: 
                    <span class="badge badge-info">
                        {{ car.manufacturer.name }} ({{ car.manufacturer.country }})
                    </span>
                </p>
                <p>Year: {{ car.year }}</p>
                <p>Color: {{ car.color }}</p>
            </div>
            <div class="col-md-6">
                <h5>Drivers</h5>
                <ul class="list-group">
                    {% for driver in car.drivers.all %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ driver.username }}
                        <span class="badge badge-primary badge-pill">
                            {{ driver.first_name }} {{ driver.last_name }}
                        </span>
                    </li>
                    {% empty %}
                    <li class="list-group-item">No drivers assigned</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        <div class="mt-4">
            <a href="{% url 'taxi:car-update' car.id %}" class="btn btn-warning">
                <i class="fas fa-edit"></i> Edit
            </a>
            <a href="{% url 'taxi:car-delete' car.id %}" class="btn btn-danger">
                <i class="fas fa-trash"></i> Delete
            </a>
            <a href="{% url 'taxi:car-list' %}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Back to List
            </a>
        </div>
    </div>
</div>
{% endblock %}
