{% extends "base.html" %}

{% block content %}
  <h1>Delete {{ model_name|capfirst }}</h1>

  <p>Are you sure you want to delete the {{ model_name|capfirst }}: <strong>{{ object }}</strong>?</p>

  {% if model_name|lower == "manufacturer" %}
    <p style="color:red"><i>All Cars with this Manufacturer format will be also deleted!</i></p>
  {% endif %}

  <div class="d-flex">
  <form action="" method="post" class="mr-3">
    {% csrf_token %}
    <input type="submit" value="Yes, delete" class="btn btn-danger">
  </form>
  <a href="{{ cancel_url }}" class="btn btn-secondary">Cancel</a>
  </div>
{% endblock %}
