{% extends "base.html" %}
{% block content %}
  <h1>Driver List</h1>
  {% if driver_list %}
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last Name</th>
      </tr>
      </thead>
      <tbody>
      {% for driver in driver_list %}
        <tr>
          <td><a href="{% url 'taxi:driver-detail' driver.id %}">{{ driver.id }}</a></td>
          <td><a href="{% url 'taxi:driver-detail' driver.id %}">{{ driver.first_name }}</a></td>
          <td><a href="{% url 'taxi:driver-detail' driver.id %}">{{ driver.last_name }}</a>{% if user == driver %}
            (me) {% endif %} </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no drivers in the service.</p>
  {% endif %}
{% endblock %}
