{% extends "base.html" %}

{% block content %}
    <h1>Driver: {{ driver.first_name }} {{ driver.last_name }}</h1>
    <p>
        <a class="btn btn-outline-primary btn-sm"
            href="{%  url 'taxi:driver-update' pk=driver.id %}"
            role="button" style="width: 100px">Edit</a>
        <a class="btn btn-outline-danger btn-sm"
            href="{%  url 'taxi:driver-delete' pk=driver.id %}"
            role="button" style="width: 100px">Delete</a>
    </p>

    <div class="description">
        <p>
            License number: <b>{{ driver.license_number}}</b>
        </p>
        <p>First Name: <b>{{ driver.first_name }}</b></p>
        <p>Last Name: <b>{{ driver.last_name }}</b></p>
        <p>Username: <b>{{ driver.username }}</b></p>
        <p>E-mail address: <b>{{ driver.email }}</b></p>
    </div>
    <hr>
    <h4>Cars</h4>
    <div class="description">
        {% for car in driver.cars.all %}
          <p>Id: <b>{{ car.id }}</b></p>
          <p>Model: <b>{{ car.model }}</b></p>
          <p>Manufacturer: <b>{{ car.manufacturer.name }}</b></p>
          <br>
        {% empty %}
          <p>No cars!</p>
        {% endfor %}
    </div>

{%  endblock %}
