{% extends "base.html" %}

{% block content %}
  <h1>
    Username: {{ driver.username }}
    {% block cancel_btn %}
      {% include "includes/cancel_btn.html" %}
    {% endblock %}
  </h1>

  <table class="table">
    <tr>
      <th>First name</th>
      <td>{{ driver.first_name }}</td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td>{{ driver.last_name }}</td>
    </tr>
    <tr>
      <th>License number</th>
      <td>{{ driver.license_number }}</td>
    </tr>
    <tr>
      <th>Is staff</th>
      <td>{{ driver.is_staff }}</td>
    </tr>
  </table>

  <div class="ml-2">
    <h4>Cars</h4>

    {% for car in driver.cars.all %}
        <hr>
        <p><strong>Model:</strong> {{ car.model }}</p>
        <p><strong>Manufacturer:</strong> {{ car.manufacturer.name }}</p>
        <p class="text-muted"><strong>Id:</strong> {{car.id}}</p>

    {% empty %}
      <p>No cars!</p>
    {% endfor %}
  </div>
{% endblock %}
