{% extends "base.html"%}

{% block content%}
    <h1>{{ object|yesno:"Update License Number,Create Driver" }}</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{{ object|yesno:"Update License Number,Create Driver" }}" class="btn btn-primary"/>
    </form>
    <br>
    <form action="{%  url "taxi:driver-list" %}">
        {% csrf_token %}
        <input type="submit" value="Back to Driver List" class="btn btn-secondary">
    </form>
{% endblock %}
