{% extends "base.html" %}

{% block content %}
  <div class="driver-container">
    <h1 class="driver-title">🚖 Driver List</h1>

    {% if driver_list %}
      <table class="table-group">
        <thead>
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>First name</th>
            <th>Last name</th>
            <th>License number</th>
          </tr>
        </thead>
        <tbody>
          {% for driver in driver_list %}
            <tr class="{% if user == driver %}current-user{% endif %}">
              <td>{{ driver.id }}</td>
              <td>
                <a href="{{ driver.get_absolute_url }}">
                  {{ driver.username }} {% if user == driver %} (Me){% endif %}
                </a>
              </td>
              <td>{{ driver.first_name }}</td>
              <td>{{ driver.last_name }}</td>
              <td>{{ driver.license_number }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="empty-list">🚫 No drivers in the service.</p>
    {% endif %}
  </div>
{% endblock %}
