{% extends "base.html" %}

{% block content %}
  <h1 class="display-4">Full name: {{ driver.first_name }} {{ driver.last_name }}</h1>
  <p class="lead"><strong>E-mail: {{ driver.email }}</strong></p>
  <p class="lead"><strong>License number: {{ driver.license_number }}</strong></p>
  {% if driver.cars.count != 0 %}
    <div class="ml-3">
      <h3>Cars</h3>
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">id</th>
              <th scope="col">Model</th>
            </tr>
          </thead>
            {% for car in driver.cars.all %}
              <tbody>
                <tr>
                  <th scope="row">
                    <a href="{% url "taxi:car-detail" pk=car.id %} ">
                      {{ car.id }}
                    </a>
                  </th>
                  <td>{{ car.model }}</td>
                </tr>
              </tbody>
            {% endfor %}
        </table>
    </div>

  {% else %}
    <p class="text-danger">Driver doesn`t have cars</p>
  {% endif %}

{% endblock %}
