{% extends "base.html"%}

{% block content %}
  <h1 class="display-4">Taxi Service Home</h1>
  <p class="lead">Welcome to Taxi Service!</p>
  <h3>Our service has the following record counts:</h3>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Number of cars
      <span class="badge badge-primary badge-pill">{{ num_cars }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Number of drivers
      <span class="badge badge-primary badge-pill">{{ num_drivers }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Number of manufacturers
      <span class="badge badge-primary badge-pill">{{ num_manufacturers }}</span>
    </li>
  </ul>
  <br>
  <p class="lead">You have visited this page {{ num_visits }} time{{ num_visits|pluralize }} </p>
{% endblock %}
