{% extends "base.html" %}

{% block content %}
  <h1>Taxi Service Home</h1>
  <p>Welcome to Best Taxi Ever!</p>
  <h2>Dynamic content</h2>
  <p>The Taxi service has the following record counts:</p>
  <div class="col-sm-2">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Number of cars
        <span class="badge bg-primary rounded-pill text-light">{{ num_cars }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Number of drivers
        <span class="badge bg-primary rounded-pill text-light">{{ num_drivers }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Number of manufacturers
        <span class="badge bg-primary rounded-pill text-light">{{ num_manufacturers }}</span>
      </li>
    </ul>
  </div>
{% endblock %}
