{% extends 'base.html' %}

{% block content %}
      <div class="content">
        Hey! 
        {%  if num_visits == 1 %}
          We see you first time here! 
        {% else %}
          You visited this page {{ num_visits }} time{{ num_visits|pluralize }}!
        {% endif %}
        <br>Welcome to our FAKE-Taxi service!
        <br>We can satisfy all your secret desires!
        <br>For you 24 hours a day:
  <ul>
    <li><strong>Cars:</strong> {{ num_cars }}</li>
    <li><strong>Drivers:</strong> {{ num_drivers }}</li>
    <li><strong>Manufacturers:</strong> {{ num_manufacturers }}</li>
  </ul>
        <br>Do not deny yourself the pleasure! Your trip will be veeeeery long.
      
      
      </div>
{% endblock %}
