{% extends 'base.html' %}

{% block content %}
<h1>Manufacturer List</h1>
<a href="{% url 'cars:manufacturer_create' %}" class="btn btn-primary">Add New Manufacturer</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for manufacturer in manufacturers %}
        <tr>
            <td>{{ manufacturer.name }}</td>
            <td>{{ manufacturer.country }}</td>
            <td><a href="{% url 'cars:manufacturer_update' manufacturer.pk %}" class="btn btn-warning">Update</a></td>
            <td><a href="{% url 'cars:manufacturer_delete' manufacturer.pk %}" class="btn btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
