{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}
  <title xmlns="http://www.w3.org/1999/html">Delete manufacturer</title>
{% endblock %}

{% block content %}
  <h1>Are you sure you want to delete manufacturer {{ manufacturer.name }}?</h1>
  <form action="" method="post" novalidate class="">
    {% csrf_token %}
    <h3>All cars manufactured by {{ manufacturer.name }} will be deleted!</h3>
  <input type="submit" value="Delete">
    <a href="{% url 'taxi:manufacturer-list' %}"><button type="button">Cancel</button></a>
  </form>
{% endblock %}
