{% extends "base.html" %}

{% block content %}
  <h1>Delete Manufacturer</h1>
  <p>Are you sure you want to delete the manufacturer: {{ manufacturer }}?</p>
  <form action="" method="post">
    {% csrf_token %}
    <p><i>All Cars with this manufacturer will be also deleted!</i></p>
    <p>

      <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'taxi:manufacturer-list' %}'">
        Cancel
      </button>
    </p>
    <input type="submit" value="Yes, delete" class="btn btn-danger">
  </form>
{% endblock %}
