{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>{{ object|yesno:"Update, Create new"}} manufacturer</h1>

  <form action="" method="post" style="width: 40%">
      {% csrf_token %}
      {{ form|crispy }}
      <br>
      <div style="display: flex; gap: 20px;">
        <input class="btn btn-primary" type="submit" value="Submit">
        <a class="btn btn-secondary" href="{{ previous }}" role="button">Back</a>
      </div>
  </form>

{% endblock %}
