{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}
  <title xmlns="http://www.w3.org/1999/html">Delete manufacture</title>
{% endblock %}

{% block content %}
  <h1>Are you sure you want to delete manufacture {{ manufacturer.name }}?</h1>
  <form action="" method="post" novalidate class="">
    {% csrf_token %}
    <input type="submit" value="Delete" class="btn btn-danger">
    <a href="{% url 'taxi:manufacturer-list'%}"><button type="button" class="btn btn-primary">Cancel</button></a>
  </form>
{% endblock %}
