{% extends "base.html" %}

{% block content %}
  <div class="container mt-4">
    <h2>Список производителей</h2>
    <a href="{% url 'manufacturer-create' %}" class="btn btn-primary mb-3">Создать производителя</a>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Название</th>
          <th>Обновить</th>
          <th>Удалить</th>
        </tr>
      </thead>
      <tbody>
        {% for manufacturer in object_list %}
          <tr>
            <td>{{ manufacturer.id }}</td>
            <td>{{ manufacturer.name }}</td>
            <td><a href="{% url 'manufacturer-update' manufacturer.id %}" class="btn btn-outline-warning btn-sm">Редактировать</a></td>
            <td><a href="{% url 'manufacturer-delete' manufacturer.id %}" class="btn btn-outline-danger btn-sm">Удалить</a></td>
          </tr>
        {% empty %}
          <tr><td colspan="4">Нет производителей в базе.</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
