body {
    margin-top: 20px;
}
.line-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #007bff; /* Цвет текста и границы */
    background-color: transparent; /* Прозрачный фон */
    border: 2px solid #007bff; /* Линия (контур) */
    border-radius: 5px; /* Закругленные края */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .line-button:hover {
    background-color: #007bff; /* При наведении закрашивается */
    color: white; /* Меняется цвет текста */
  }
