body {
    margin-top: 20px;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
    background: lightgoldenrodyellow;
}

.btn_stl {
    margin-left: 2%;
    margin-top: 4%;
    color: #ff24d2;
}

.tools_stl {
    width:3%;
    height:5%;
    margin-left: 2%
}
