body {
    margin-top: 20px;
    background-color: aliceblue;
}

.sidebar-nav {
    list-style-type: none;
    padding: 50px;
    border-radius: 1000px;
    background-color: #b1d7f8;
}
/*#e2effb*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid aliceblue;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #b1d7f8;
}

tr:nth-child(odd) {
  background-color: #f9f9e5;
}

.list-group-item {
  /*background-color: #f9f9e5;*/
}

.link_sidebar{
    color: #69b5fc;
    font-weight: bold;
}

.grey-btn {
    color: white;
    display: inline-block;
    background-color: lightslategray;
    border-radius: 4px;
    margin-left: 10px;
    padding: 5px 18px 9px 8px;

}

.red-btn {
    color: white;
    display: inline-block;
    background-color: #b00505;
    border-radius: 4px;
    margin-left: 10px;
    padding: 5px 18px 9px 8px;
}

.grey-btn:hover {
    text-decoration: none;
    background-color: #677684;
    color: white;
}

.red-btn:hover {
    text-decoration: none;
    background-color: #ca0404;
    color: white;
}

.blue-btn {
    color: white;
    display: inline-block;
    background-color: dodgerblue;
    border-radius: 4px;
    padding: 5px 18px 9px 8px;
}

.blue-btn:hover {
    text-decoration: none;
    background-color: #369afc;
    color: white;
}
