{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% if object %}Update{% else %}Create{% endif %} Manufacturer{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3>{% if object %}Update{% else %}Create{% endif %} Manufacturer</h3>
            </div>
            <div class="card-body">
                {% crispy form %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
