{% if is_paginated %}
  <span class="pagination inline-container">
    {% if page_obj.has_previous %}
      <p class="page-item">
        <a href="?page= {{ page_obj.previous_page_number }}" class="page-link">prev</a>
      </p>
    {% endif %}
    <p class="page-item active">
      <span class="page-link">{{ page_obj.number }} of {{ paginator.num_pages }}</span>
    </p>
    {% if page_obj.has_next %}
      <p class="page-item">
        <a href="?page= {{ page_obj.next_page_number }}" class="page-link">next</a>
      </p>
    {% endif %}
  </span>
{% endif %}
