<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item"><i class="bi bi-person-fill"></i> <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
    <li class="list-group-item"><i class="bi bi-box-arrow-right"></i> <a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
  {% endif %}

  <br>

  <li class="list-group-item"><i class="bi bi-house-door-fill"></i> <a href="{% url 'taxi:index' %}">Home</a></li>
  <li class="list-group-item"><i class="bi bi-person-badge-fill"></i> <a href="{% url 'taxi:driver-list' %}">All drivers</a></li>
  <li class="list-group-item"><i class="bi bi-car-front-fill"></i> <a href="{% url 'taxi:car-list' %}">All cars</a></li>
  <li class="list-group-item"><i class="bi bi-wrench-adjustable-circle-fill"></i> <a href="{% url 'taxi:manufacturer-list' %}">All manufacturers</a></li>
</ul>
