{% extends "base.html" %}

{% block title %}<title>Car List</title>{% endblock %}

{% block content %}
<h2>Car List</h2>
<table class="table">
    <tr>
        <th>Model</th>
        <th>Manufacturer</th>
        <th>Year</th>
        <th>Actions</th>
    </tr>
    {% for car in object_list %}
    <tr>
        <td>{{ car.model }}</td>
        <td>{{ car.manufacturer }}</td>
        <td>{{ car.year }}</td>
        <td>
            <a href="{% url 'car-detail' car.pk %}" class="btn btn-info">View</a>
            <a href="{% url 'car-update' car.pk %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'car-delete' car.pk %}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
