<h1>Car List</h1>
<a href="{% url 'taxi:car-create' %}" class="btn btn-primary mb-3">Add Car</a>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for car in cars %}
      <tr>
        <td>{{ car.model }}</td>
        <td>{{ car.manufacturer }}</td>
        <td><a href="{% url 'taxi:car-update' car.pk %}" class="btn btn-sm btn-warning">Update</a></td>
        <td><a href="{% url 'taxi:car-delete' car.pk %}" class="btn btn-sm btn-danger">Delete</a></td>
      </tr>
      {% endfor %}
  </tbody>
</table>