<h1>Car List</h1>
<a href="{% url "car-create" %}" class="btn btn-primary mb-3">Add Car</a>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for manufacturer in manufacturers %}
      <tr>
        <td>{{ car.name }}</td>
        <td>{{ car.country }}</td>
        <td><a href="{% url 'car-update' car.pk %}" class="btn btn-sm btn-warning">Update</a></td>
        <td><a href="{% url 'car-delete' car.pk %}" class="btn btn-sm btn-danger">Delete</a></td>
      </tr>
      {% endfor %}
  </tbody>
</table>